---
title: The Freezer
---


<ul class="inventory">
  <div class="inventory__details-list">
    <% data.freezer.inventory.each do | inventory_item | %>
      <li class="inventory__details">

        <h2 class="inventory__item-name">
          <%= inventory_item.label %>
        </h2>

        <div class="inventory__source">
          <label class="inventory__data-label">
            Source
          </label>

          <p class="inventory__data">
            <%= inventory_item.source %>
          </p>
        </div>

        <div class="inventory__amount">
          <label class="inventory__data-label inventory__amount">
            Amount
          </label>

          <p class="inventory__data inventory__amount">
            <%= inventory_item.amount %>
          </p>
        </div>

      </li>
    <% end %>
  </div>

  <div class="inventory__images-list">
    <% data.freezer.inventory.each do | inventory_item | %>
      <li class="inventory__images-list-item">

        <%= image_tag(
          inventory_item.image,
          class: "inventory__image"
        ) %>

        <span class="inventory__image-amount">
          <%= inventory_item.amount %>
        </span>

      </li>
    <% end %>
  </div>
</ul>
